In [1]:
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/train.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,8996,15580623,Yefremova,573,Spain,Male,28.0,8,0.00,2,0.0,0.0,77660.03,0
8996,8997,15578156,Anenechukwu,615,Spain,Male,32.0,5,138521.83,1,1.0,1.0,56897.10,0
8997,8998,15631063,Trentino,710,France,Female,33.0,2,0.00,2,1.0,0.0,72945.32,0
8998,8999,15692577,Tomlinson,674,Germany,Female,38.0,10,83727.68,1,1.0,0.0,45418.12,0
8999,9000,15810910,Royston,702,Spain,Female,38.0,9,0.00,2,1.0,1.0,158527.45,0

In [13]:
df['Geography'].value_counts(dropna=False)

Geography
France     4498
Spain      2253
Germany    2249
Name: count, dtype: int64

In [14]:
imputer = SimpleImputer(strategy='most_frequent', missing_values=pd.NA)
df[['Geography']] = imputer.fit_transform(df[['Geography']])
df['Geography'].value_counts(dropna=False)

Geography
France     4498
Spain      2253
Germany    2249
Name: count, dtype: int64

In [17]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)
gender_encoded = encoder.fit_transform(df[['Geography']])

# 检查编码后的结果形状
print(gender_encoded.shape)

(9000, 3)

In [18]:
# 将编码后的数据转换为DataFrame
gender_encoded_df = pd.DataFrame(gender_encoded, columns=encoder.get_feature_names_out(['Geography']))

# 合并前确保索引对齐
df = df.reset_index(drop=True)
gender_encoded_df = gender_encoded_df.reset_index(drop=True)

# 合并DataFrame
df = pd.concat([df.drop('Geography', axis=1), gender_encoded_df], axis=1)
df

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1,1.0,0.0,0.0
1,2,15647311,Hill,608,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0,0.0,0.0,1.0
2,3,15619304,Onio,502,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1,1.0,0.0,0.0
3,4,15701354,Boni,699,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0,1.0,0.0,0.0
4,5,15737888,Mitchell,850,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,8996,15580623,Yefremova,573,Male,28.0,8,0.00,2,0.0,0.0,77660.03,0,0.0,0.0,1.0
8996,8997,15578156,Anenechukwu,615,Male,32.0,5,138521.83,1,1.0,1.0,56897.10,0,0.0,0.0,1.0
8997,8998,15631063,Trentino,710,Female,33.0,2,0.00,2,1.0,0.0,72945.32,0,1.0,0.0,0.0
8998,8999,15692577,Tomlinson,674,Female,38.0,10,83727.68,1,1.0,0.0,45418.12,0,0.0,1.0,0.0
8999,9000,15810910,Royston,702,Female,38.0,9,0.00,2,1.0,1.0,158527.45,0,0.0,0.0,1.0