In [112]:
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd

In [113]:
df = pd.read_csv('../data/train.csv')

# 为分类变量填充众数
# for column in ['Geography', 'HasCrCard', 'IsActiveMember']:
#     mode_imputer = SimpleImputer(strategy='most_frequent')
#     df[column] = mode_imputer.fit_transform(df[[column]])

# 为数值变量'Age'填充中位数（你也可以选择均值，这取决于数据分布）
# median_imputer = SimpleImputer(strategy='median')
# df['Age'] = median_imputer.fit_transform(df[['Age']])

In [114]:
df['Gender'].value_counts(dropna=False)

Gender
Male      4897
Female    4103
Name: count, dtype: int64

In [115]:
df['Age'].value_counts(dropna=False)

Age
37.00    437
38.00    434
35.00    425
36.00    405
34.00    404
        ...
88.00      1
85.00      1
45.25      1
32.34      1
36.44      1
Name: count, Length: 73, dtype: int64

In [126]:
median_imputer = SimpleImputer(strategy='median')
df[['Age']] = median_imputer.fit_transform(df[['Age']])
df['Age'].value_counts(dropna=False)

Age
37.00    438
38.00    434
35.00    425
36.00    405
34.00    404
        ...
88.00      1
85.00      1
36.44      1
45.25      1
32.34      1
Name: count, Length: 72, dtype: int64

In [117]:
df['HasCrCard'].value_counts(dropna=False)

HasCrCard
1.0    6320
0.0    2679
NaN       1
Name: count, dtype: int64

In [118]:
df['IsActiveMember'].value_counts(dropna=False)

IsActiveMember
1.0    4621
0.0    4378
NaN       1
Name: count, dtype: int64

In [122]:
for column in ['HasCrCard', 'IsActiveMember', 'Geography']:
    mode_imputer = SimpleImputer(strategy='most_frequent')
    df[[column]] = mode_imputer.fit_transform(df[[column]])

In [123]:
df['HasCrCard'].value_counts(dropna=False)

HasCrCard
1.0    6321
0.0    2679
Name: count, dtype: int64

In [124]:
df['IsActiveMember'].value_counts(dropna=False)

IsActiveMember
1.0    4622
0.0    4378
Name: count, dtype: int64

In [125]:
df['Geography'].value_counts(dropna=False)

Geography
France     4498
Spain      2253
Germany    2249
Name: count, dtype: int64

In [83]:
# df = pd.get_dummies(df, columns=['Gender'])
# df.head(10)

In [84]:
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,1.0,1.0,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44.0,8,113755.78,2,1.0,0.0,149756.71,1
6,7,15592531,Bartlett,822,NaN,Male,50.0,7,0.00,2,1.0,1.0,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29.0,4,115046.74,4,1.0,0.0,119346.88,1
8,9,15792365,He,501,France,Male,44.0,4,142051.07,2,0.0,1.0,74940.50,0
9,10,15592389,H?,684,France,Male,37.0,2,134603.88,1,1.0,1.0,71725.73,0

In [85]:
unique_genders = df['Gender'].unique()
print(unique_genders)

['Female' 'Male']

In [86]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)
gender_encoded = encoder.fit_transform(df[['Gender']])

# 检查编码后的结果形状
print(gender_encoded.shape)

(9000, 2)

In [87]:
# 将编码后的数据转换为DataFrame
gender_encoded_df = pd.DataFrame(gender_encoded, columns=encoder.get_feature_names_out(['Gender']))

# 合并前确保索引对齐
df = df.reset_index(drop=True)
gender_encoded_df = gender_encoded_df.reset_index(drop=True)

# 合并DataFrame
df = pd.concat([df.drop('Gender', axis=1), gender_encoded_df], axis=1)

In [88]:
# from sklearn.preprocessing import OneHotEncoder
# 
# # 假设df是你的DataFrame，'Gender'是需要编码的列
# encoder = OneHotEncoder()
# gender_encoded = encoder.fit_transform(df[['Gender']])
# 
# # 转换为DataFrame
# gender_encoded_df = pd.DataFrame(gender_encoded, columns=encoder.get_feature_names_out(['Gender']))
# 
# # 在合并之前，确保索引对齐
# df = df.reset_index(drop=True)
# gender_encoded_df = gender_encoded_df.reset_index(drop=True)
# 
# # 合并编码后的列回原始DataFrame
# df = pd.concat([df, gender_encoded_df], axis=1).drop('Gender', axis=1)
# df

In [89]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male
0,1,15634602,Hargrave,619,France,42.0,2,0.00,1,1.0,1.0,101348.88,1,1.0,0.0
1,2,15647311,Hill,608,Spain,41.0,1,83807.86,1,0.0,1.0,112542.58,0,1.0,0.0
2,3,15619304,Onio,502,France,42.0,8,159660.80,3,1.0,0.0,113931.57,1,1.0,0.0
3,4,15701354,Boni,699,France,39.0,1,0.00,2,0.0,0.0,93826.63,0,1.0,0.0
4,5,15737888,Mitchell,850,Spain,43.0,2,125510.82,1,1.0,1.0,79084.10,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,8996,15580623,Yefremova,573,Spain,28.0,8,0.00,2,0.0,0.0,77660.03,0,0.0,1.0
8996,8997,15578156,Anenechukwu,615,Spain,32.0,5,138521.83,1,1.0,1.0,56897.10,0,0.0,1.0
8997,8998,15631063,Trentino,710,France,33.0,2,0.00,2,1.0,0.0,72945.32,0,1.0,0.0
8998,8999,15692577,Tomlinson,674,Germany,38.0,10,83727.68,1,1.0,0.0,45418.12,0,1.0,0.0
8999,9000,15810910,Royston,702,Spain,38.0,9,0.00,2,1.0,1.0,158527.45,0,1.0,0.0

In [104]:
df['Geography'].value_counts(dropna=False)

Geography
France     4497
Spain      2253
Germany    2249
NaN           1
Name: count, dtype: int64

In [103]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,8996,15580623,Yefremova,573,Spain,Male,28.0,8,0.00,2,0.0,0.0,77660.03,0
8996,8997,15578156,Anenechukwu,615,Spain,Male,32.0,5,138521.83,1,1.0,1.0,56897.10,0
8997,8998,15631063,Trentino,710,France,Female,33.0,2,0.00,2,1.0,0.0,72945.32,0
8998,8999,15692577,Tomlinson,674,Germany,Female,38.0,10,83727.68,1,1.0,0.0,45418.12,0
8999,9000,15810910,Royston,702,Spain,Female,38.0,9,0.00,2,1.0,1.0,158527.45,0

In [111]:
imputer = SimpleImputer(strategy='most_frequent', missing_values=pd.NA)
df['Geography'] = imputer.fit_transform(df[['Geography']])

ValueError: 2